<ul>
    <li *ngFor="let post of (getAllPost$ | async)">
        <h4>{{post?.title}}</h4>
        <p>{{post?.content}}</p>
        <p>{{post?.nickname}}</p>
        <button pButton type="button" label="More details" class="ui-button-info" (click)="navToPostDetail(post?.id)"></button>
        <button pButton type="button" label="Edit" class="ui-button-warning" (click)="showForm(post?.id)"></button>
        <button pButton type="button" label="Delete" class="ui-button-danger" (click)="deletePost(post?.id)"></button>
    </li>
</ul>
<button pButton type="button" label="Public post" class="ui-button-success" (click)="showForm('')"></button>
<br>
<br>
<div *ngIf="show">
    <form [formGroup]="createPost">
        Title: <input type="text" formControlName="title">
        Content: <input type="text" formControlName="content">
        Nickname: <input type="text" formControlName="nickname">
        <button pButton type="button" label="Share" class="ui-button-secondary" (click)="handlePost()" [disabled]="!createPost.valid"></button>
    </form>
</div>
