<ul>
    <li *ngFor="let post of (getAllPost$ | async)">
        <h4>{{post?.title}}</h4>
        <p>{{post?.content}}</p>
        <p>{{post?.nickname}}</p>
        <button (click)="navToPostDetail(post?.id)">More details</button>
        <button (click)="showForm(post?.id)">Edit</button>
        <button (click)="deletePost(post?.id)">Delete</button>
    </li>
</ul>
<button (click)="showForm('')">Public post</button>
<br>
<br>
<div *ngIf="show">
    <form [formGroup]="createPost">
        Title: <input type="text" formControlName="title">
        Content: <input type="text" formControlName="content">
        Nickname: <input type="text" formControlName="nickname">
        <button (click)="handlePost()" [disabled]="!createPost.valid">Share</button>
    </form>
</div>