<h4>{{(getPost|async)?.title}}</h4>
<p>{{(getPost|async)?.content}}</p>
<p>{{(getPost|async)?.nickname}}</p>
<ul>Comments:
    <div *ngIf="(getPost|async)?.comments?.length>0; then ok else error"></div>
    <ng-template #ok>
        <li *ngFor="let comment of (getPost|async)?.comments">
            <p>{{comment?.comment}}</p>
            <p>{{comment?.nickname}}</p>
            <p>{{comment?.date|date:'medium'}}</p>
            <button (click)="showForm(comment?._id)">Edit</button>
            <button (click)="deleteComment(comment?._id)">Delete</button>
        </li>
    </ng-template>
    <ng-template #error>No hay comentarios</ng-template>
</ul>
<button (click)="showForm('')">Public comment</button>
<br>
<br>
<div *ngIf="show">
    <form [formGroup]="createComment">
        Comment: <input type="text" formControlName="comment">
        Nickname: <input type="text" formControlName="nickname">
        <button (click)="handleComment()" [disabled]="!createComment.valid">Share</button>
    </form>
</div>