<h4>{{(getPost$ | async)?.title}}</h4>
<p>{{(getPost$ | async)?.content}}</p>
<p>{{(getPost$ | async)?.nickname}}</p>
<small>Author ID: {{(getPost$ | async)?.authorId}}</small>
<ul>Comments:
    <div *ngIf="(getPost$|async)?.comments?.length>0; then ok else error"></div>
    <ng-template #ok>
        <li *ngFor="let comment of (getPost$ | async)?.comments">
            <p>{{comment?.comment}}</p>
            <p>{{comment?.nickname}}</p>
            <p>{{comment?.date}}</p>
            <button>Edit</button>
            <button>Delete</button>
        </li>
    </ng-template>
    <ng-template #error>No hay comentarios</ng-template>
</ul>