<p-messages [(value)]="msgs" [closable]="true" [style]="{'margin': '58px auto 0 auto', 'width':'500px'}"></p-messages>

<nav class="nav-container">
    <div>
        <button pButton type="button" icon="pi pi-home" routerLink='home'
            [style]="{'margin':'2px', 'padding': '2px', 'font-size':'12px'}" class="ui-button-secondary"></button>
        <button pButton type="button" label="BackOffice" routerLink='backOffice'
            [style]="{'margin':'2px', 'font-size':'12px'}" class="ui-button-secondary"></button>
    </div>
    <div>
        <button pButton type="button" icon="pi pi-sign-out" class="ui-button-secondary"
            [style]="{'margin':'2px', 'font-size':'12px', 'background-color':'rgba(180, 5, 5, 0.8)', 'color':'white'}"
            (click)="logout()" *ngIf="(user|async)?.length > 0"></button>
    </div>
</nav>

<router-outlet></router-outlet>