.main-container {
    background: url('../../images/s-o-c-i-a-l-c-u-t-gREi-9tI5Mg-unsplash.jpg') no-repeat bottom;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

post-footer {
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.9);
}