<div class="post-detail-container">
    <div class="post-detail-card">
        <post-detail-card>
            <h4 slot="title">{{(getPost$ | async)?.title}}</h4>
            <p slot="text1">{{(getPost$ | async)?.content}}</p>
            <p slot="text2">{{(getPost$ | async)?.nickname}}</p>
        </post-detail-card>
    </div>
    <ul class="post-detail-comments">
        <div *ngIf="(getPost$|async)?.comments?.length>0; then ok else error"></div>
        <ng-template #ok>
            <li *ngFor="let comment of (getPost$ | async)?.comments">
                <post-comments text1={{comment?.comment}} text2={{comment?.nickname}}>
                    <small class="date" slot="date">{{(comment?.date|date:'dd-MM-yyyy')}}</small>
                </post-comments>
            </li>
        </ng-template>
        <ng-template #error>No hay comentarios</ng-template>
    </ul>
</div>