.post-detail {
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        min-height: 95vh;
        padding: 70px 0 0 0;
    }
    &-card {
        & h4 {
            font-size: 20px;
            color: #161616;
        }
        & p {
            font-size: 14px;
            color: #535353;
        }
    }
    &-comments {
       align-self: flex-end;
       margin-right: 17.5vw;
    }
}