
<h4>{{(getPost$ | async)?.title}}</h4>
<p>{{(getPost$ | async)?.content}}</p>
<p>{{(getPost$ | async)?.nickname}}</p>
<ul>Comments:
    <div *ngIf="(getPost$|async)?.comments?.length>0; then ok else error"></div>
    <ng-template #ok>
        <li *ngFor="let comment of (getPost$ | async)?.comments">
            <p>{{comment?.comment}}</p>
            <p>{{comment?.nickname}}</p>
            <p>{{comment?.date}}</p>
        </li>
    </ng-template>
    <ng-template #error>No hay comentarios</ng-template>
</ul>

<!-- <h4>{{post?.title}}</h4>
<p>{{post?.content}}</p>
<p>{{post?.nickname}}</p>
<small>Author ID: {{post?.authorId}}</small>
<ul>Comments:
    <div *ngIf="post?.comments?.length>0; then ok else error"></div>
    <ng-template #ok>
        <li *ngFor="let comment of post?.comments">
            <p>{{comment?.comment}}</p>
            <p>{{comment?.nickname}}</p>
            <p>{{comment?.date}}</p>
        </li>
    </ng-template>
    <ng-template #error>No hay comentarios</ng-template>
</ul> -->


